@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


body{
font-family: 'Montserrat', sans-serif;
min-width: 600px;
}

a{
text-decoration: none;
outline: none;
}

header{
  display: flex;
  display: inline-flex;
  height: 120px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  background: #EAEAEA;
}

header .container {
display: flex;
justify-content: space-between;
gap: 20%;
padding: 32px 122px 32px 122px;
width: 100%;
align-items: center;

}

header .container .logo {
color: #000;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
cursor: pointer;
}

header .container .button_login {
display: inline-flex;
padding: 18px 40px;
justify-content: center;
align-items: center;

border-radius: 50px;
border: 2px solid var(--blue-blue-500, #3B82F6);
background: var(--white-white, #FFF);

box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.18);

color: var(--blue-blue-500, #3B82F6);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 20px;

cursor: pointer;
}

header .container .button_login:hover{
background: #3B82F6;
color: var(--white-white, #FFF);
transition: all 0.3s ease;
transform: scale(1.1);
}

.content{
  height: 640px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  margin-top: 86px;

}

.content .main_text{
  margin-left: 122px;    
  width: 830px;
}
.content .main_text .main_text_title{
  color: #000;
  font-size: 60px;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 42px;    
  text-align: left;
}

.content .main_text .main_button{

  display: inline-flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 50px;
  background: var(--blue-blue-500, #3B82F6);

  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.18);

  color: var(--neutral-white, #FFF);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; 

  cursor: pointer;
}

.arrow{
  background:url(../svg/ic24-arrow-circle-right.svg) #3B82F6 100% / cover no-repeat;
  width: 22px;
  height: 22px;
}

.content .main_text .main_button:hover {
transform: scale(1.1);
transition: all 0.3s ease;
}

.content .main_img{
  width: 588px;
  height: 519px;
  min-width: 400px;
  border-radius: 50px;
  margin-right: 122px;
  background:url(../img/main_img.jpg) lightgray 50% / cover no-repeat;

}

footer{
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 17px 0px 16px 0px;
  justify-content: center;
  align-items: center;
  background: #2C2A2A;
}

.footer_text{
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media(max-width: 1156px ) {
  .content .main_text .main_text_title {
    font-size: 35px;
  }
  .content .main_img{
    height: 432px;
  }
} 